@{
    ViewData["Title"] = "Home";
}

<div class="container">

    <div class="row">
        <div class="col-sm-12" style="margin:0 auto">
            <div class="row text-center" style="margin-top:30px;">

                <a href="~/Home/Project" class="col-sm-6">
                    <div class="card" style="padding:70px 20px">
                        <h3> Project Initiation</h3>
                        <hr />

                        <div class="row" style="margin-top:34px">
                            <div class="col-sm-12">
                                <img src="~/img/images.jpg" style="width:140px" />
                            </div>
                        </div>
                    </div>
                </a>

                <a href="~/CDS/Index" class="col-sm-6">
                    <div class="card" style="padding:62px 20px">
                        <h3 style="position:relative;top:6px;">CDS Projects</h3>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="~/img/img.png" style="width:115px;margin-top:30px" />
                            </div>


                        </div>
                    </div>
                </a>

            </div>

        </div>
    </div>

</div>