@{
    ViewData["Title"] = "CDS Home";
}
@using AragenSmartsheet.Entities.CDS;
@model List<MCDSFolder>;

<link rel="stylesheet" href="~/css/jquery.dataTables.css" />

<script src="~/js/jquery.dataTables.js"></script>

<section class="ftco-section">
    <div class="container-fluid" style="padding:0;overflow-x:hidden">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="wrapper" style="margin-top:30px">
                    <div class="row no-gutters">
                        <div class="col-md-10 align-items-stretch" style="margin:0 auto">
                            <div class="minbodyview">
                                <div class="contact-wrap wvis-100 p-md-5 p-4" style="padding:1rem 3rem!important">
                                    <div class="minbodydetails">
                                        <h3 class="mb-4" style="margin-bottom:0!important"> CDS Projects</h3>
                                        <p> Select project from below list to navigate to Project Details.</p>
                                    </div>
                                    <hr />
                                    <div class="minbody">
                                        <form method="POST" action="~/Home/CreateProject" id="ProjectInitiation" name="ProjectInitiation" autocomplete="off" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <table id="myTable" class="display">
                                                            <thead>
                                                                <tr>
                                                                    <th>Project Name</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td><a href="@Url.Action("GanttView", "CDS", new { FolderID = item.FolderID, FolderName = item.FolderName, FolderLink = item.FolderLink })">@item.FolderName</a></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    function ShowProjectPlan(FolderID) {
        $.ajax({
            type: "POST",
            url: "/CDS/GanttChart",
            data: {
                FolderID: FolderID
            },
            success: function () {

            }
        });
    }
</script>